<html>
<head>
	<title>Dashboard | {{user.username}}</title>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<style>
body
{
	font-size:16px;
	background-color: f1f1f1;
}
.container-fluid
{
	background-color:212B25;
	
}
.heading
{
	background-color: 515762;
	color: white;
}
.title
{
	padding-top:5px;
        padding-left:5px;
	padding-bottom:0.1px;
}
.body {
	width: 60%;
	position: absolute;
	left: 250px;
	padding-top:10px;
	}
.course1
{
	border-bottom: 1px solid;
	border-radius: 1px;
	padding: 8px;
	color: #515762;
}
.lessons
{
	left:20px;
}
</style>
<body>
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #3E4551;">
  <a class="navbar-brand" href="#"><img src="/static/img/logo_transparent.png" height="27.5" class="logo"> LEARN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{user.username}} 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="/dashboard/{{user.username}}">Dashboard</a>
          <a class="dropdown-item" href="/logout/">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
	
{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
        {% endif %}
        {% endwith %}
		<div class="heading">
		<div class="title">
		<h4>  Dashboard</h4>
		<h3>  {{ user.username}}</h3>
		<p>   Welcome to the Dashboard, {{ user.firstname }} {{user.lastname}}, this is the hub for the learning application. From this section you will be able to see the Available Courses</p>
		</div>
		</div>
		<div class="body">
		<h4>Avaliable Courses</h4>
			{% for course in courses %}
			<div class='Course1'>
				<h4><a href='course/{{course.courseid}}' style="color: #3E4551; text-decoration:none">{{ course.coursename }}</a></h4>
				<h5>{{course.description}}	</h5>						<div class="lessons">
					<h6>Lessons Avaliable: {{course.lessons}}</h6>				</div>
			</div>
			<br>
			{% endfor %}
	</div>
</body>
</html>
