{% import 'wtf_tinymce/editor.html' as tinymce with context %}
<html>
	<head>
	<title>Lesson |</title>
	{{ codemirror.include_codemirror() }}
	
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
 
    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_style.min.css" rel="stylesheet" type="text/css" />
	
	
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	
<script>
    $(document).ready(function() {
        $('form').submit(function (e) {
            var url = "/post/"; 
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), 
                success: function (data) {
                   // console.log(data)  
			//console.log(JSON.stringify(data));
			//console.log(JSON.parse(JSON.stringify(data)));
			var obj = JSON.parse(JSON.stringify(data));
			console.log(obj.data.message);
			console.log(eval(obj.data));
			$("#results").html(obj.data.message);
			//$("#result").append(j);
			//tinymce.activeEditor.execCommand('mceInsertContent', false, obj.data.message);
			//document.getElementById("results").innerHTML = obj.data.message;		
			//console.log($('#result').val()
			//tinymce.activeEditor.setContent(obj.data.message);
		}
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>		
	

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
 
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.pkgd.min.js"></script>
 
    <!-- Initialize the editor. -->
    <script> 
	    $(function() { 
		    $('#output').froalaEditor()
		    $('#output').off('froalaEditor.toolbar.show');
	    
	    }); </script>



	</head>
<style>
body, html 
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
textearea
{
	resize:none;
}
.button {
    background-color: #4CAF50;
	border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
	    position: relative;
    left: 465px;
    bottom: 400px;
	}
.container 
{
	width: 100%;
	height: 100%
}
.top
{
	position: relative;
	top: -50px;
}
.middle
{
	position: relative;
	width:35%;
	top: -60px;
	left: 180px;
	height:80%;
	float:left;
}
.right
{
	position: relative;
	top: -25px;
	left: 260px;
	width:55%;
	height:100%;
	float:right;
}
.CodeMirror
{
        height:100%;
	background-color: white;
}
.message
{
	position: absolute;
	font-size: 18px;
}
.frola-element
{
	width:30%
}
</style>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
	    <a class="navbar-brand">LEARN</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown"></>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
		<li><a href="/dashboard/">Dashboard</a></li>
          <li><a href="#">second</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
<div class='top'>
	<h2>Excercise Template</h2>
	<p>Welcome</p>
	<div id="result"></div>
	<h4>Filler text currently however this will be a task for the user to complete. Underneath there will be checkboxes, which when the user inputs and runs certain code, the checkbox should tick, indicating to the student that the task has been completed</h4>
</div>
<div class="middle">
	<form method='POST' action="">
                {{ form.csrf_token }}
		<h5>Edit Code</h5>
		{{ form.hidden_tag() }}
		{{ form.source_code }}
                <div>
			<input type="submit" class="button" value="Run Code >>" />
		</div>
        </form>
</div>
<div class="right" contentEditable=true>
<div>
	
	<textarea id="output">
		<div id="results"> <p>Please enter some code<p></div>
	</textarea>
	<!--{% block tail %}
              {{ tinymce.init_wtf_tinymce() }}
        {% endblock %}
	{{ form.text }} --!>
	
</div>
</div>
</body>
</html>
