{% import 'wtf_tinymce/editor.html' as tinymce with context %}
<html>
	<head>
	<title>Excercise | {{lesson.lessonname}}</title>
	{{ codemirror.include_codemirror() }}
	<meta charset="utf-8">
  	
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

	<script>
    $(document).ready(function() {
        	var test = $('div.test').text();
	    	var location = window.location.pathname.split('/');
	    	var username = location[2];
	    	var lessonid = parseInt(location[6]);
	    	var lessonid_1 = (lessonid + 1)
	    	
		var path = "dashboard/"+username+"/course/20001/excercise/221"
	    	var addOne  = "dashboard/"+username+"/course/"+location[4]+"/excercise/"+lessonid_1;
	    	console.log(addOne)
	    	$('#lessonButton').click(function()
		    
		    {
		    	window.location.pathname = addOne;
			if(lessonid+1 == 126)
			    {
			    window.location.pathname = path;
			    
			    }
			 if(lessonid+1 == 226)
                            {
                            	window.location = window.location.pathname;
			    }
			   if(lessonid+1 == 326)
                            {
                            window.location = window.location.pathname;
			    }
		    })
	    $('#previousButton').click(function(event)
                    {
                        window.location = lessonid-1;
                            if(lessonid -1 == 120)
                            {
                                //window.location = 121;

                            }
                         if(lessonid-1 == 220)
                            {
                            window.location = 221;
                            }
                           if(lessonid-1 == 320)
                            {
                           window.location = 321;
                            }
                    })

        	$('div.output').html(test);
	    $('form').submit(function (e) {
            var url = "/dashboard/excercise/post/";
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(),
                success: function (data) {
                        var obj = JSON.parse(JSON.stringify(data));
                        console.log(obj.data.message);
                        console.log(obj.data.task);
			//$("#results").html(obj.data.message);
			$("#message").html("<h5>"+ obj.data.task +"</h5>");
                        document.getElementById('output').contentWindow.document.write(obj.data.message);
			document.getElementById('output').contentWindow.document.close();
                }
            });
            e.preventDefault();
        });

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>
	</head>
<style>
body, html 
{
	width: 100%;
	height: 100%;
	overflow:hidden;
	overflow-x:hidden;
	background-color:e3e3e3;
}
.button {
    background-color: #4CAF50;
	border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 465px;
    bottom: 275px;
	}
.container 
{
	width: 100%;
	height: 100%
}
.header
{
	position:relative;
	background-color:565762;
	width:2600px;
	right:100px;
}
.top
{
	padding-top:5px;
	padding-left:50px;
	background-color: 5a5ab2;
	color:white;
	width:100%
	
}
.middle
{
	position: relative;
	right: 20px;
	height:80%;
	float:left;
	background-color: e3e3e3;
}
.right
{
	position:relative;
	float:right;
	top:50px;
	right:80px;
}
.CodeMirror
{
        height:86%;
	background-color: white;
	position:absolute;
	top:20px;
	width:500%
}
.o
{
	background-color: e3e3e3;
}
.message
{
	position:absolute;
	left:680px;
	bottom:485px;
}
</style>
<body>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #4d4d99;">
  <a class="navbar-brand" href="#"><img src="/static/img/logo_transparent.png" height="27.5" class="logo"> LEARN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{username.username}} 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="/dashboard/{{username.username}}">Dashboard</a>
          <a class="dropdown-item" href="/logout/">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

	

	
<div class="container">
	<div class="header">
<div class='top'>
	<h2>Excercise: {{lesson.lessonname}}</h2>
	<div class="test" contenteditable="true" style="display:none;">{{ paragraphData['para_data'] }}</div>
        <div class="output"></div>
</div>
	</div>

	<button type="submit" class="previousButton" id="previousButton" form="nameform" value="Submit">Previous Lesson</button>
<button type="submit" class="lessonButton" id="lessonButton" form="nameform" value="Submit">Next Lesson</button>
<div class="message" id="message">Example</div>
<div class = "o">
<div class="middle">
	<form method='POST' action="">
                {{ form.csrf_token }}
		<h5>Edit Code</h5>
		{{ form.source_code }}
                <div>
			<input type="submit" class="button" value="Run Code >>" />
		</div>
        </form>
</div>
<div class="right">
<iframe id="output"style="height:465px; width:430px; background-color:white;"></iframe>
</div>
</div>
</body>
</html>
