<html>
<head>
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Learn HTML</h1>
	<h3>Welcome to the ... Web Application! </h3>
<div class="">
  <h3 class="">Menu</h3>
  <a href="#" class="">HTML</a>
  <a href="#" class="">CSS</a>
  <a href="#" class="">Javascript</a>
</div>

<h3><a href="/login/">Login Page</a></h3>
<h3><a href="/register/">Register</a></h3>

	<h3>The aim of this Web Application is to incorporate Active Learning activites to ensure an engaging expierence for the user. </h3>
	<h3><a href='/HTML'>learn HTML</h3>
</body>
</html>
