<html>
<head>
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
<style>
.header
{
	background-color: 515762;
}
.main
{
	position:relative;
	left:250px;
	width: 60%;
}
.navbar
{
	min-height:50px;
}
.ul.navbar-nav > li > a
{
	line-height:50px;
}
</style>
       
</head>
<body>

	<div class="header">
		<br>
		<br>
		<br>
	</div>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #3E4551;">
  <a class="navbar-brand" href="#">
	  <img src="static/img/logo_transparent.png" height="40" class="logo"> LEARN
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
       <li class="nav-item">
		<a class="nav-link" href="/login/">Login</a>
	</li>
	<li class="nav-item">
                <a class="nav-link" href="/register/">Register</a>
        </li>
    </ul>
  </div>
</nav>
<div class="main">
	<br>
	<br>
	<br>
	<h4>Project Name:</h4>
	<h4>Project Description:</h4>
	<h4>Feature's and Functionalities: </h4><h5>In order to use the application you will need to Register an Account, If you have already created an account then you can simply login to start, or resume any progress you have made through the application's lesson or excercise matieral!</h5>
	
</div>
</body>
</html>
