<html>
<head>
<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
	


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<style>
.questions
{
	display: inline-block;
	text-align: center;
	position:relative;
	left:350px;

}
.heading
{
	background-color: 183024;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	color:white;
}
.button
{
	border-radius:3px;
	padding 14px 40px;
	width: 270px;
	height: 40px;
	font-size: 22px;
	margin: 4px 2px;
	display: inline-block;
	background-color: 515762;
	color: white;
	padding-top:3px;
}

</style>
<body>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #193326;">
  <a class="navbar-brand" href="#"><img src="/static/img/logo_transparent.png" height="27.5" class="logo"> LEARN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{username.username}} 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="/dashboard/{{username.username}}">Dashboard</a>
          <a class="dropdown-item" href="/logout/">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


	<div class="quiz">
		<div class="heading">
		<h3>{{lesson.lessonname}}</h3>
		</div>
		<br>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
		<p>Return to <a href='/dashboard/{{username.username}}/course/{{courseid.courseid}}/'>Course Page</a></p>
                {% endfor %}
        {% endif %}
        {% endwith %}
		
		<form method='POST'>
		<div class="questions">
		{% for i in questions %}	
		<h4>{{i}}</h4>
		<fieldset>
		<div class="form-check form-check-inline" data-toggle="buttons">
		<label class="radio-inline">
		{% for j in questions[i] %}
		<label class="btn btn-secondary">
			<input type="radio" value="{{j}}" name="{{i}}" autocomplete="off" required> {{j}}
  		</label>
				{% endfor %}
			</label>
		</div>
		</fieldset>
		{% endfor %}
			<input type="submit" class="button" value="Submit!" />
		</div>
	</form>
		</div>
</body>
</html>
