<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
<style>
.form{
	width: 60%;
	border-radius: 8px;
	margin: 8px;
	box-sizing: border-box;
	display: inline-block;
	font-size: 20px;
}
.register
{
	text-align: center;
	position: relative;
	top:100px;
	border-radius: 20px;
}
.button
{
border-radius:5px;
	padding 14px 40px;
	width: 200px;
	height: 40px;
	font-size: 22px;
	margin: 4px 2px;
	display: inline-block;

}
</style>
<body>
	<div class="container">
	<div class="register">
	<h3>Register Page</h3>
	<h4>Please Register your account</h4>
	<form method='POST' action="">
		{{ form.csrf_token }}
		<div class="form">
		{{ form.firstname(class_='form') }}
		{{ form.lastname(class_='form') }}
		{{ form.email(class_='form') }}
		{{ form.username(class_='form') }}
		{{ form.password(class_='form') }}
		{{ form.confirm(class_='form') }}
		<div>
		<input type='submit' class='button' value='Login'></input>
	</form>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
        {% endif %}
        {% endwith %}
<body>
</html>
