{% import 'wtf_tinymce/editor.html' as tinymce with context %}
<html>
	<head>
		<title>Lesson | {{ lesson.lessonname}}</title>
	{{ codemirror.include_codemirror() }}
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
	


	<script>

    $(document).ready(function() {
        var location = window.location.pathname.split('/');
        console.log(window.location.pathname);
	var courseid = location[4];
	var lessonid = location[5];
	var details = 
		    {
			'courseid' : courseid,
			'lessonid': lessonid
		    }
	    console.log(details)
	    //onPageLoad Ajax Request
	    $.ajax({
		    url: "/dashboard/template/post/",
		    type: 'POST',
		    contentType: 'application/json',
		    data: JSON.stringify(details),
		    success: function(data)
		    {
			console.log(data);
		    }});
		
	    $('form').submit(function (e) {
		var url = "/dashboard/template/post/"
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), 
                success: function (data) {
                    console.log(data)  
			//console.log(JSON.stringify(data));
                        //console.log(JSON.parse(JSON.stringify(data)));
                        var obj = JSON.parse(JSON.stringify(data));
                        console.log(obj.data.output);
                        //console.log(eval(obj.data));
                        $("#results").html(obj.data.output);
			$("#results").froalaEditor('html.set', 'My custom paragraph.');
                }
            });
            e.preventDefault();
        });
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })
    });
</script>
<!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/css/froala_style.min.css" rel="stylesheet" type="text/css" />
<!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.4/js/froala_editor.pkgd.min.js"></script>

    <!-- Initialize the editor. -->
    <script>
            $(function() {
		    $('#output').froalaEditor({
                        toolbarButtons: [],
                        height: 534,
                        width: 395
                    })
		    $('#output').editable({inlineMode : false});

                    });
    </script>	
	
	</head>
<style>
body, html
{
        width: 100%;
        height: 100%;
        overflow: hidden;
	background: #f1f1f1;
}

.button {
    background-color: #4CAF50;
	border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
	}
.container 
{
	width: 100%;
	height: 100%
	top:20px;
	right:20px;
}
.left
{
	width:38%;
	height:100%;
	float:left;
	font-family: Helvetica;
	overflow:auto;
	background:white;
	padding:15px;
	border-radius: 5px;
}
.middle
{
	width:32%;
	height:100%;
	float:left;
}
.right
{
	width:30%;
	height:100%;
	float:right
}
.CodeMirror
{
        height:80%;
}
.message
{
	position: absolute;
	left: 750px;
	bottom: 17px;
	font-size: 18px;
}
</style>
<body>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #3E4551;">
  <a class="navbar-brand" href="#">LEARN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{username.username}} 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="/dashboard/{{username.username}}">Dashboard</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<br>
<div class="container">
<div class='left'>
	<h1>Lesson: {{ lesson.lessonname }}</h1>
	<p>Welcome {{username.username}}</p>
	<h3>Filler text currently however this will be a task for the user to complete. Underneath there will be checkboxes, which when the user inputs and runs certain code, the checkbox should tick, indicating to the student that the task has been completed</h3>
	<form method='POST' action ="">
	</form>
	<br>This would act like the question </br>
	<br>This would be another question</br>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Why do we use it?
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


Where does it come from?
Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>	

</div>
<div class="middle">
	<form method='POST' action="">
                {{ form.csrf_token }}
                {{ form.source_code }}
                <div>
			<input type="submit" class="button" value="Run Code >>" />
			<div class="message">
		{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
        {% endif %}
        {% endwith %}
	</div>
		</div>
        </form>
</div>
<div class="right" contentEditable=true>
<div>
	<textarea id="output" class="output">
                <div id="results"> <p><p></div>
        </textarea>	
	<!--{% block tail %}
                {{ tinymce.init_wtf_tinymce() }}
        {% endblock %}
	{{ form.text }} --!>
	
</div>
</div>
</body>
</html>
