{% import 'wtf_tinymce/editor.html' as tinymce with context %}
<html>
	<head>
	{{ codemirror.include_codemirror() }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<script>
		tinymce.activeEditor.setContent({format: 'raw'});
	</script>

	</head>
<style>

body, html 
{
	width: 100%;
	height: 100%;
}

.container 
{
	width: 100%;
	height: 100%
}
.left
{
	width:35%;
	height:100%;
	float:left;
	overflow:auto;
}
.middle
{
	width:30%;
	height:100%;
	float:left;
}
.right
{
	width:35%;
	height:100%;
	float:right
}
.CodeMirror
{
	height:80%;
}


</style>
<body>
<h1>Template page for Lesson Page</h1>
<div class="container">
<div class='left'>
	<p>Lesson Stuff</p>
	<h3>Filler text currently however this will be a task for the user to complete. Underneath there will be checkboxes, which when the user inputs and runs certain code, the checkbox should tick, indicating to the student that the task has been completed</h3>
	<br>This would act like the question </br>
	<input type="checkbox" name="task1" value="task1" onclick="return false;"/>
</div>
<div class="middle">
		{{ form.csrf_token }}
                {{ form.source_code }}
                <div>
              	<input type='submit' value='Run Code'></input>
		</div>
	</form>
</div>
<div class="right" contentEditable=true>
<div>
	{% block tail %}
                {{ tinymce.init_wtf_tinymce() }}
        {% endblock %}
	{{ form.text }}
	
</div>
</div>
</body>

	<script type="text/javascript">
	$('.right').html(sample)
	</script>
</html>
