{% import 'wtf_tinymce/editor.html' as tinymce with context %}
<html>
	<head>
	<title>Lesson |</title>
	{{ codemirror.include_codemirror() }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
	<script type="text/javascript">
		tinymce.activeEditor.setContent(html, {format: 'raw'});
	</script>
	<script>
		var value = '<h1>hello</h1>'
		$('input:checkbox[value="' + value + '"]').attr('checked',true);
	</script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
<style>
body, html 
{
	width: 100%;
	height: 100%;
}
.container 
{
	width: 100%;
	height: 100%
}
.left
{
	width:38%;
	height:100%;
	float:left;
	overflow:auto;
}
.middle
{
	width:32%;
	height:100%;
	float:left;
}
.right
{
	width:30%;
	height:100%;
	float:right
}
.CodeMirror
{
        height:80%;
}

</style>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
	    <a class="navbar-brand">LEARN</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown">{{username.username}}</>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
		<li><a href="/dashboard/{{username.username}}">Dashboard</a></li>
          <li><a href="#">second</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<h1>Template page for Lesson Page</h1>
<div class="container">
<div class='left'>
	<p>Welcome {{username.username}}</p>
	<h3>Filler text currently however this will be a task for the user to complete. Underneath there will be checkboxes, which when the user inputs and runs certain code, the checkbox should tick, indicating to the student that the task has been completed</h3>
	<form method='POST' action ="">
	</form>
	<br>This would act like the question </br>
	<br>This would be another question</br>
	

</div>
<div class="middle">
	<form method='POST' action="">
                {{ form.csrf_token }}
                {{ form.source_code }}
                <div>
			<input type="submit" value="Run Code" />
		{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
        {% endif %}
        {% endwith %}

		</div>
        </form>
</div>
<div class="right" contentEditable=true>
<div>
	{% block tail %}
                {{ tinymce.init_wtf_tinymce() }}
        {% endblock %}
	{{ form.text }}
	
</div>
</div>
</body>

	<script type="text/javascript">
	$('.right').html(sample)
	</script>
</html>
